/* #region Common */

:root {
  --db-white: #ffffff;
  --db-white-hover: #e1e1e1;
  --db-black: #000000;
  --db-primary-blue: #0061ff;
  --db-primary-blue-hover: #3c87ff;
  --db-light-blue: #b4d0e7;
  --db-bordeaux: #61082b;
  --db-light-green: #d1e9cd;
  --db-green: #a2d39b;
  --db-turquoise: #0093ce;
  --db-red: #ff1c1c;
  --db-gray: #f5f5f5;
  --db-dark-gray: #a0a0a0;
  --db-dark-red: #d5001f;
  --db-dark-blue: #0d2481;
  --db-yellow: #ffd830;
  --db-link: #2f3cf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid var(--db-dark-gray);
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 96%;
  max-width: 1176px;
  margin: auto;
}

.container_sm {
  width: 85%;
  margin: auto;
}

.row {
  display: flex;
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-12 {
  width: 100%;
}

.col-4-gap-50 {
  width: calc(((100% / 12) * 4) - (100px / 3));
}

.col-20-100 {
  width: 20%;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
}

.btn.wide {
  width: 100%;
}

.btn.blue {
  background-color: var(--db-primary-blue);
  color: var(--db-white);
  transition: background-color 0.4s;
}

.btn.white {
  font-weight: 400;
  border: 1px solid var(--db-black);
  color: var(--db-black);
  background-color: var(--db-white);
  transition: background-color 0.4s;
}

.section_title {
  font-size: 2.5rem;
  padding: 5.625rem 0 3.75rem 0;
}

.short_hr {
  width: 20%;
}

.shorter_hr {
  width: 10%;
}

/* #endregion Utility */

/* #region Debug */

.debug #app_header {
  background-color: red;
}

.debug #app_header .row {
  height: 100%;
}

.debug .col-6 {
  outline: 1px solid black;
  height: 100%;
}

.debug #jumbo {
  height: 740px;
}

.debug #jumbo .container {
  height: 100%;
  outline: 1px solid black;
  padding-top: 60px;
}

.debug #jumbo h1 {
  height: calc(100% / 3);
  background-color: green;
  margin-top: 60px;
}

.debug #jumbo .row {
  outline: 1px solid black;
  height: calc((100% / 3) * 2);
  background-color: blue;
}

.debug #plans {
  margin-top: 60px;
}

.debug #plans h2 {
  height: 190px;
  outline: 1px solid black;
  background-color: cyan;
}

.debug #recurrent_payment {
  height: 70px;
  outline: 1px solid black;
  background-color: magenta;
}

.debug #plans_list div {
  height: 950px;
  outline: 1px solid black;
  background-color: yellow;
}

.debug #plans_list div:last-of-type {
  height: 260px;
}

.debug #partner .row {
  background-color: red;
  height: 510px;
}

.debug #partner .row > * {
  outline: 1px solid black;
}

.debug #operations .row > * {
  height: 470px; 
  outline: 1px solid black;
  background-color: purple;
}

.debug #business_teams h2 {
  height: 100px;
  outline: 1px solid black;
  background-color: red;
}

.debug #business_teams a {
  display: inline-block;
  width: 100%;
  height: 20px;
  outline: 1px solid black;
  background-color: red;
}

.debug #partners_logos .row > .col-4 {
  outline: 1px solid black;
  background-color: green;
}

.debug #partners_logos .col-4.row > * {
  height: 50%;
  background-color: blue;
}

.debug #use_business {
  height: 360px;
}

.debug #use_business .row {
  height: 90px;
}

.debug #use_business .row > * {
  outline: 1px solid black;
  background-color: red;
}

.debug #faq {
  height: 724px;
}

.debug #faq .container_sm {
  outline: 1px solid black;
  background-color: purple;
  height: 424px;
}

.debug #app_footer {
  height: 570px;
}

.debug #footer_top {
  height: 450px;
}

.debug #footer_top .row {
  height: 100%;
}

.debug #footer_top .row > * {
  outline: 1px solid black;
  background-color: white;
}

.debug #footer_bottom {
  height: 120px;
}

.debug #language {
  height: 100%;
  outline: 1px solid black;
  background-color: red;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  height: 5rem;
  background-color: var(--db-white);
  box-shadow: 0 0 5px 0 var(--db-black);
}

#app_header > .row {
  height: 100%;
  padding: 0 1.25rem;
}

#header_left > nav,
#header_left > nav > ul > li:nth-child(even),
#header_right > nav > ul > li:nth-child(2) {
  margin: 0 2.5rem;
}

#header_right > nav > ul > li:last-child {
  margin-left: 1.25rem;
}

#app_header a {
  color: var(--db-black);
  line-height: 5rem;
}

/* #endregion Header */

/* #region Main */

#jumbo,
#use_business {
  background-color: var(--db-light-blue);
}

#jumbo {
  padding: 1.25rem 0;
}

#jumbo .row {
  margin-bottom: -5.625rem;
}

#jumbo_title {
  font-size: 5rem;
  font-weight: 800;
  padding: 4.0625rem 0;
}

#jumbo .row .btn {
  margin: 2.1875rem 0;
}

#jumbo .row span {
  display: block;
  margin-bottom: 4.6875rem;
}

#plans {
  padding-top: 5.625rem;
}

#recurrent_payment > label {
  font-size: 0.8125rem;
}

#recurrent_payment > label,
#monthly,
#yearly {
  vertical-align: middle;
  cursor: pointer;
}

#yearly {
  margin-left: 3.125rem;
}

#plans_list {
  flex-wrap: wrap;
  gap: 3.125rem;
  margin-top: 3.125rem;
}

#plans_list > * {
  border: 1px solid var(--db-dark-gray);
}

#plans_list .plan_type,
#plans_list .price,
#plans_list .expiring_type,
#plans_list .buy_now,
#plans_list .hot_points,
#plans_list ul > li,
#plans_list .card_main_content button {
  font-size: 0.875rem;
}

#plans_list .plan_type {
  display: inline-block;
  text-align: center;
  padding: 0.625rem 0;
  width: 100%;
  border-bottom: 1px solid var(--db-dark-gray);
}

#plans_list .card_main_content {
  padding: 1.875rem;
}

#plans_list .plan_type,
#plans_list .price,
#plans_list .expiring_type,
#plans_list .buy_now {
  display: block;
}

#plans_list .price {
  font-weight: 700;
  padding: 0.9375rem 0;
}

#plans_list .expiring_type {
  margin-bottom: 3.4375rem;
  color: var(--db-dark-gray);
}

#plans_list .plan_title,
#partner .section_title_sm,
#operations .section_title_sm {
  font-size: 1.5rem;
}

#plans_list ul > li {
  margin-bottom: 1.5625rem;
}

#plans_list .card_main_content i,
#plans_list .card_main_content i + span {
  line-height: 1.25rem;
}

#plans_list .card_main_content .row i {
  margin-right: 0.3125rem;
}

#plans_list .card_main_content button {
  font-weight: 400;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}

#plans_list .buy_now {
  margin: 2.1875rem 0;
}

#plans_list .buy_now a,
#business_teams a {
  color: var(--db-link);
  text-decoration: underline;
}

#plans_list .hot_points {
  margin: 3.4375rem 0 2.5rem 0;
}

#plans_list li .fa-check {
  color: var(--db-primary-blue);
}

#plans_list .col-12 .plan_right_section {
  width: calc((((100% + 2px) / 12) * 4) - (100px / 3));
  padding-left: 2.625rem;
}

#plans_list .col-12 .plan_right_section button {
  margin-top: 0.5625rem;
}

#partner {
  margin: 9.375rem 0 3.75rem 0;
}

#partner .row {
  gap: 3.125rem;
}

#partner .row .col-4 {
  padding: 3.125rem 0;
}

#partner .row .col-4 p {
  margin: 1.25rem 0 1.875rem 0;
}

#operations .row {
  flex-wrap: wrap;
  gap: 1.25rem 3.125rem;
}

#operations .row p {
  margin: 1.875rem 0;
}

#business_teams {
  margin: 9.375rem 0;
}

#business_teams .section_title.col-8 {
  margin: 3.75rem 0;
  padding: 0;
}

#partners_logos .col-4:nth-child(2) {
  background-color: var(--db-gray);
  padding: 2%;
}

#partners_logos .col-4:nth-child(2) img {
  width: 50%;
  margin-bottom: 3.125rem;
}

#partners_logos .col-4:nth-child(2) p {
  margin: 3.125rem 0;
}

#partners_logos .col-4.row {
  flex-wrap: wrap;
}

#partners_logos .col-4.row .col-6 {
  aspect-ratio: 1;
  padding: 3.75rem;
}

#partners_logos .col-4.row .col-6 img {
  filter: invert(1);
}

#partners_logos .col-4.row #designit{
  background-color: var(--db-light-green);
  padding: 0.9375rem;
}

#designit > .inner {
  width: 100%;
  height: 100%;
  padding: 3.125rem;
  background-color: var(--db-green);
}

#asu {
  background-color: var(--db-bordeaux);
}

#uf {
  background-color: var(--db-turquoise);
}

#topps {
  background-color: var(--db-red);
}

#wbr {
  background-color: var(--db-dark-red);
}

#hearst {
  background-color: var(--db-light-blue);
}

#lp {
  background-color: var(--db-dark-blue);
}

#cco {
  background-color: var(--db-yellow);
}

#use_business {
  padding: 8.4375rem 0;
}

#use_business .row {
  gap: 9.375rem;
}

#use_business_title {
  color: var(--db-bordeaux);
  padding: 0;
}

#use_business .btn {
  border: none;
  margin-top: 0.875rem;
  padding: 0.8rem 0;
}

#faq {
  padding: 9.375rem 0;
}

#faq .row {
  padding: 2.8125rem 0;
}

#faq .question {
  font-size: 1rem;
}

#faq .answer {
  display: none;
  margin-top: 1.25rem;
}

#faq .expand_collapse {
  padding-right: 2.8125rem;
}

#faq .expand_collapse .fa-angle-up {
  display: none;
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--db-black);
}

#footer_top {
  padding: 6.5625rem 0;
}

#footer_top .section_title_sm {
  color: var(--db-white);
  margin-bottom: 2.1875rem;
}

#footer_top ul > li {
  margin-bottom: 1.25rem;
}

#footer_top ul > li > a {
  color: var(--db-white);
  transition: color 0.4s;
}

#app_footer .shorter_hr {
  margin-bottom: 3.125rem;
}

#footer_bottom {
  padding-bottom: 3.125rem;
}

#language {
  color: var(--db-dark-gray);
  gap: 0.625rem;
}

#language > .fa-earth-americas::before,
#language > span,
#language > .fa-caret-up::before {
  vertical-align: middle;
  cursor: pointer;
}

/* #endregion Footer */

/* #region Effects */

.btn.blue:hover {
  background-color: var(--db-primary-blue-hover);
  cursor: pointer;
}

.btn.white:hover {
  background-color: var(--db-white-hover);
  cursor: pointer;
}

#app_header li:hover,
#header_right button:hover {
  cursor: pointer;
}

#app_header li:not(#header_right li:last-of-type):hover {
  border-bottom: 2px solid var(--db-black);
}

#faq .row:hover .answer,
#faq .row:hover .fa-angle-up {
  display: block;
}

#faq .row:hover .fa-angle-down {
  display: none;
}

#footer_top ul > li > a:hover {
  color: var(--db-dark-gray);
}

/* #endregion Effects */
