/* #region Common */

:root {
  --db-white: #ffffff;
  --db-white-hover: #e1e1e1;
  --db-black: #000000;
  --db-primary-blue: #0061ff;
  --db-primary-blue-hover: #3c87ff;
  --db-light-blue: #b4d0e7;
  --db-bordeaux: #61082b;
  --db-light-green: #d1e9cd;
  --db-green: #a2d39b;
  --db-turquoise: #0093ce;
  --db-red: #ff1c1c;
  --db-gray: #f5f5f5;
  --db-dark-gray: #a0a0a0;
  --db-dark-red: #d5001f;
  --db-dark-blue: #0d2481;
  --db-yellow: #ffd830;
  --db-link: #2f3cf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  border-bottom: 1px solid var(--db-dark-gray);
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 96%;
  max-width: 1176px;
  margin: auto;
}

.container_sm {
  width: 85%;
  margin: auto;
}

.row {
  display: flex;
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-12 {
  width: 100%;
}

.col-4-gap-50 {
  width: calc(((100% / 12) * 4) - (100px / 3));
}

.col-20-100 {
  width: 20%;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.ai-fs {
  align-items: flex-start;
}

.btn {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 0.5rem 1rem;
}

.btn.wide {
  width: 100%;
}

.btn.blue {
  background-color: var(--db-primary-blue);
  color: var(--db-white);
}

.btn.white {
  font-weight: 400;
  border: 1px solid var(--db-black);
  color: var(--db-black);
  background-color: var(--db-white);
}

.section_title {
  font-size: 2.5rem;
  padding: 60px 0;
}

.short_hr {
  width: 20%;
}

/* #endregion Utility */

/* #region Debug */

.debug #app_header {
  background-color: red;
}

.debug #app_header .row {
  height: 100%;
}

.debug .col-6 {
  outline: 1px solid black;
  height: 100%;
}

.debug #jumbo {
  height: 740px;
}

.debug #jumbo .container {
  height: 100%;
  outline: 1px solid black;
  padding-top: 60px;
}

.debug #jumbo h1 {
  height: calc(100% / 3);
  background-color: green;
  margin-top: 60px;
}

.debug #jumbo .row {
  outline: 1px solid black;
  height: calc((100% / 3) * 2);
  background-color: blue;
}

.debug #plans {
  margin-top: 60px;
}

.debug #plans h2 {
  height: 190px;
  outline: 1px solid black;
  background-color: cyan;
}

.debug #recurrent_payment {
  height: 70px;
  outline: 1px solid black;
  background-color: magenta;
}

.debug #plans_list div {
  height: 950px;
  outline: 1px solid black;
  background-color: yellow;
}

.debug #plans_list div:last-of-type {
  height: 260px;
}

.debug #partner .row {
  background-color: red;
  height: 510px;
}

.debug #partner .row > * {
  outline: 1px solid black;
}

.debug #operations .row > * {
  height: 470px; 
  outline: 1px solid black;
  background-color: purple;
}

.debug #business_teams h2 {
  height: 100px;
  outline: 1px solid black;
  background-color: red;
}

.debug #business_teams a {
  display: inline-block;
  width: 100%;
  height: 20px;
  outline: 1px solid black;
  background-color: red;
}

.debug #partners_logos .row > .col-4 {
  outline: 1px solid black;
  background-color: green;
}

.debug #partners_logos .col-4.row > * {
  height: 50%;
  background-color: blue;
}

.debug #use_business {
  height: 360px;
}

.debug #use_business .row {
  height: 90px;
}

.debug #use_business .row > * {
  outline: 1px solid black;
  background-color: red;
}

.debug #faq {
  height: 724px;
}

.debug #faq .container_sm {
  outline: 1px solid black;
  background-color: purple;
  height: 424px;
}

.debug #app_footer {
  height: 570px;
}

.debug #footer_top {
  height: 450px;
}

.debug #footer_top .row {
  height: 100%;
}

.debug #footer_top .row > * {
  outline: 1px solid black;
  background-color: white;
}

.debug #footer_bottom {
  height: 120px;
}

.debug #language {
  height: 100%;
  outline: 1px solid black;
  background-color: red;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  background-color: var(--db-white);
  box-shadow: 0 0 5px 0 var(--db-black);
}

#app_header > .row {
  height: 100%;
  padding: 0 20px;
}

#header_left > nav,
#header_left > nav > ul > li:nth-child(even),
#header_right > nav > ul > li:nth-child(2) {
  margin: 0 40px;
}

#header_right > nav > ul > li:last-child {
  margin-left: 20px;
}

#app_header a {
  color: var(--db-black);
  line-height: 80px;
}

/* #endregion Header */

/* #region Main */

#jumbo,
#use_business {
  background-color: var(--db-light-blue);
}

#jumbo {
  padding: 20px 0;
}

#jumbo .row {
  margin-bottom: -90px;
}

#jumbo_title {
  font-size: 5rem;
  font-weight: 800;
  padding: 65px 0;
}

#jumbo .row .btn {
  margin: 35px 0;
}

#jumbo .row span {
  display: block;
  margin-bottom: 75px;
}

#plans {
  padding-top: 90px;
}

#recurrent_payment > label {
  font-size: 13px;
}

#recurrent_payment > label,
#monthly,
#yearly {
  vertical-align: middle;
}

#yearly {
  margin-left: 50px;
}

#plans_list {
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 50px;
}

#plans_list > * {
  border: 1px solid var(--db-dark-gray);
}

#plans_list .plan_type,
#plans_list .price,
#plans_list .expiring_type,
#plans_list .buy_now,
#plans_list .hot_points,
#plans_list ul > li {
  font-size: 0.875rem;
}

#plans_list .plan_type {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border-bottom: 1px solid var(--db-dark-gray);
}

#plans_list .card_main_content {
  padding: 30px;
}

#plans_list .plan_type,
#plans_list .price,
#plans_list .expiring_type,
#plans_list .buy_now {
  display: block;
}

#plans_list .price {
  font-weight: 700;
  padding: 15px 0;
}

#plans_list .expiring_type {
  margin-bottom: 55px;
  color: var(--db-dark-gray);
}

#plans_list .plan_title,
#partner .section_title_sm,
#operations .section_title_sm {
  font-size: 1.5rem;
}

#plans_list ul > li {
  margin-bottom: 25px;
}

#plans_list .card_main_content i,
#plans_list .card_main_content i + span {
  line-height: 20px;
}

#plans_list .card_main_content .row i {
  margin-right: 5px;
}

#plans_list .card_main_content button {
  font-size: 14px;
  font-weight: 400;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
}

#plans_list .buy_now {
  margin: 35px 0;
}

#plans_list .buy_now a,
#business_teams a {
  color: var(--db-link);
  text-decoration: underline;
}

#plans_list .hot_points {
  margin: 55px 0 40px 0;
}

#plans_list li .fa-check {
  color: var(--db-primary-blue);
}

#plans_list .col-12 .plan_right_section {
  width: calc((((100% + 2px) / 12) * 4) - (100px / 3));
  padding-left: 42px;
}

#partner {
  margin: 150px 0;
}

#partner .row {
  gap: 50px;
}

#partner .row .col-4 {
  padding: 50px 0;
}

#partner .row .col-4 p {
  margin: 20px 0 30px 0;
}

#operations .row {
  flex-wrap: wrap;
  gap: 0 50px;
}

#operations .row p {
  margin: 30px 0;
}

#business_teams {
  margin: 150px 0;
}

#business_teams .section_title.col-8 {
  margin: 60px 0;
  padding: 0;
}

#partners_logos .col-4:nth-child(2) {
  background-color: var(--db-gray);
  padding: 50px;
}

#partners_logos .col-4:nth-child(2) img {
  width: 50%;
  margin-bottom: 50px;
}

#partners_logos .col-4:nth-child(2) p {
  margin: 50px 0;
}

#partners_logos .col-4.row {
  flex-wrap: wrap;
}

#partners_logos .col-4.row .col-6 {
  aspect-ratio: 1;
  padding: 60px;
}

#partners_logos .col-4.row .col-6 img {
  filter: invert(1);
}

#partners_logos .col-4.row #designit{
  background-color: var(--db-light-green);
  padding: 15px;
}

#designit > .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: var(--db-green);
}

#asu {
  background-color: var(--db-bordeaux);
}

#uf {
  background-color: var(--db-turquoise);
}

#topps {
  background-color: var(--db-red);
}

#wbr {
  background-color: var(--db-dark-red);
}

#hearst {
  background-color: var(--db-light-blue);
}

#lp {
  background-color: var(--db-dark-blue);
}

#cco {
  background-color: var(--db-yellow);
}

#use_business {
  padding: 135px 0;
}

#faq {
  padding: 150px 0;
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--db-black);
}

#footer_top {
  padding: 105px 0;
}

#footer_bottom {
  padding: 20px 0;
}

/* #endregion Footer */

/* #region Effects */

.btn.blue {
  transition: background-color 0.3s;
}

.btn.blue:hover {
  background-color: var(--db-primary-blue-hover);
  cursor: pointer;
}

.btn.white {
  transition: background-color 0.3s;
}

.btn.white:hover {
  background-color: var(--db-white-hover);
  cursor: pointer;
}

#app_header li:hover,
#header_right button:hover {
  cursor: pointer;
}

#app_header li:not(#header_right li:last-of-type):hover {
  border-bottom: 2px solid var(--db-black);
}

/* #endregion Effects */
