/* #region Common */

:root {
  --db-white: #ffffff;
  --db-black: #000000;
  --db-primary-blue: #0061ff;
  --db-primary-blue-hover: #3c87ff;
  --db-light-blue: #b4d0e7;
  --db-bordeaux: #61082b;
  --db-light-green: #d1e9cd;
  --db-green: #a2d39b;
  --db-turquoise: #0093ce;
  --db-red: #ff1c1c;
  --db-gray: #f5f5f5;
  --db-dark-red: #d5001f;
  --db-dark-blue: #0d2481;
  --db-yellow: #ffd830;
  --db-link: #2f3cf3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* #endregion Common */

/* #region Utility */

.container {
  width: 96%;
  max-width: 1176px;
  margin: auto;
}

.container_sm {
  width: 85%;
  margin: auto;
}

.row {
  display: flex;
}

.col-4 {
  width: calc((100% / 12) * 4);
}

.col-6 {
  width: calc((100% / 12) * 6);
}

.col-8 {
  width: calc((100% / 12) * 8);
}

.col-12 {
  width: 100%;
}

.col-4-gap-50 {
  width: calc(((100% / 12) * 4) - (100px / 3));
}

.col-20-100 {
  width: 20%;
}

.jc-sb {
  justify-content: space-between;
}

.jc-fe {
  justify-content: flex-end;
}

.ai-c {
  align-items: center;
}

.btn {
  border: none;
  background-color: var(--db-primary-blue);
  padding: 0.5rem 1rem;
  color: var(--db-white);
}

/* #endregion Utility */

/* #region Debug */

.debug #app_header {
  background-color: red;
}

.debug #app_header .row {
  height: 100%;
}

.debug .col-6 {
  outline: 1px solid black;
  height: 100%;
}

.debug #jumbo {
  height: 740px;
}

.debug #jumbo .container {
  height: 100%;
  outline: 1px solid black;
  padding-top: 60px;
}

.debug #jumbo h1 {
  height: calc(100% / 3);
  background-color: green;
  margin-top: 60px;
}

.debug #jumbo .row {
  outline: 1px solid black;
  height: calc((100% / 3) * 2);
  background-color: blue;
}

.debug #plans {
  margin-top: 60px;
}

.debug #plans h2 {
  height: 190px;
  outline: 1px solid black;
  background-color: cyan;
}

.debug #recurrent_payment {
  height: 70px;
  outline: 1px solid black;
  background-color: magenta;
}

.debug #plans_list div {
  height: 950px;
  outline: 1px solid black;
  background-color: yellow;
}

.debug #plans_list div:last-of-type {
  height: 260px;
}

.debug #partner .row {
  background-color: red;
  height: 510px;
}

.debug #partner .row > * {
  outline: 1px solid black;
}

.debug #operations .row > * {
  height: 470px; 
  outline: 1px solid black;
  background-color: purple;
}

.debug #business_teams h2 {
  height: 100px;
  outline: 1px solid black;
  background-color: red;
}

.debug #business_teams a {
  display: inline-block;
  width: 100%;
  height: 20px;
  outline: 1px solid black;
  background-color: red;
}

.debug #partners_logos .row > .col-4 {
  outline: 1px solid black;
  background-color: green;
}

.debug #partners_logos .col-4.row > * {
  height: 50%;
  aspect-ratio: 1;
  background-color: blue;
}

.debug #use_business {
  height: 360px;
}

.debug #use_business .row {
  height: 90px;
}

.debug #use_business .row > * {
  outline: 1px solid black;
  background-color: red;
}

.debug #faq {
  height: 724px;
}

.debug #faq .container_sm {
  outline: 1px solid black;
  background-color: purple;
  height: 424px;
}

.debug #app_footer {
  height: 570px;
}

.debug #footer_top {
  height: 450px;
}

.debug #footer_top .row {
  height: 100%;
}

.debug #footer_top .row > * {
  outline: 1px solid black;
  background-color: white;
}

.debug #footer_bottom {
  height: 120px;
}

.debug #language {
  height: 100%;
  outline: 1px solid black;
  background-color: red;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: sticky;
  top: 0;
  left: 0;
  height: 80px;
  background-color: var(--db-white);
  box-shadow: 0 0 5px 0 var(--db-black);
}

#app_header > .row {
  height: 100%;
  padding: 0 20px;
}

#header_left > nav,
#header_left > nav > ul > li:nth-child(even),
#header_right > nav > ul > li:nth-child(2) {
  margin: 0 40px;
}

#header_right > nav > ul > li:last-child {
  margin-left: 20px;
}

#app_header a {
  color: var(--db-black);
  line-height: 80px;
}

#header_right button {
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s;
}

#app_header li:hover,
#header_right button:hover {
  cursor: pointer;
}

#app_header li:not(#header_right li:last-of-type):hover {
  border-bottom: 2px solid var(--db-black);
}

#header_right button:hover {
  background-color: var(--db-primary-blue-hover);
}

/* #endregion Header */

/* #region Main */

#jumbo,
#use_business {
  background-color: var(--db-light-blue);
}

#plans_list {
  flex-wrap: wrap;
  gap: 50px;
}

#plans_list div:last-of-type {
  width: 100%;
}

#partner {
  margin: 150px 0;
}

#operations .row {
  flex-wrap: wrap;
  gap: 50px;
}

#business_teams {
  margin: 150px 0;
}

#business_teams h2 {
  margin: 60px 0;
}

#partners_logos .col-4.row {
  flex-wrap: wrap;
}

#use_business {
  padding: 135px 0;
}

#faq {
  padding: 150px 0;
}

/* #endregion Main */

/* #region Footer */

#app_footer {
  background-color: var(--db-black);
}

#footer_top {
  padding: 105px 0;
}

#footer_bottom {
  padding: 20px 0;
}

/* #endregion Footer */
